In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('All_data.csv', index_col='PID')

In [5]:
data.head()

,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,Prop_Addr,MA_City,MA_State,MA_Zip1
PID,,,,,,,,,,,,,,,,,,,,,
909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,Lvl,...,NaN,0,3,2010,WD,Normal,436 HAYWARD AVE,AMES,IA,50010.0
905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,Lvl,...,NaN,0,2,2009,WD,Normal,3416 WEST ST,AMES,IA,50014.0
905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,Lvl,...,NaN,0,2,2009,WD,Normal,3416 WEST ST,AMES,IA,50014.0
911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,Lvl,...,NaN,0,11,2007,WD,Normal,320 S 2ND ST,AMES,IA,50010.0
535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,Lvl,...,NaN,0,5,2009,WD,Normal,1524 DOUGLAS AVE,AMES,IA,50010.0

In [6]:
import geopy
from geopy import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [9]:
locator = Nominatim(user_agent="myGeocoder")
geocode = RateLimiter(locator.geocode, min_delay_seconds=1.5)

## <span style='color:red'> Caution</span>: Takes 2-3hrs ⚠️

In [20]:
geodata = [geocode(addr+', Ames, USA') if type(addr)==str else None for addr in data.Prop_Addr]

####

####

#### match collected geodata with PID and save as csv

In [84]:
g = {'lat_long':[each[-1] if each is not None else 0 for each in geodata]}

(2624, 84)

In [85]:
len(geodata) == data.shape[0]

True

In [104]:
to_export = pd.concat([pd.Series(data.index),pd.DataFrame(g)],axis=1,ignore_index=True)

In [107]:
to_export = to_export.rename(columns={0:'PID',1:'lat_long'}).set_index('PID')

In [108]:
to_export.to_csv('geodata.csv')