In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('All_data.csv', index_col='PID')

In [3]:
data.head()

,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,Prop_Addr
PID,,,,,,,,,,,,,,,,,,,,,
526301100,1656,215000,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,3126 NORTHWOOD DR
526302030,1293,149900,20,RL,NaN,11027,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,3115 NORTHWOOD DR
526302040,1024,157500,20,RL,85.0,10533,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,3113 NORTHWOOD DR
526302110,882,124500,20,RL,74.0,13008,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,623 RIVER OAK DR
526302120,1797,169000,20,RL,NaN,11765,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,627 RIVER OAK DR

In [1]:
import geopy
from geopy import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [3]:
locator = Nominatim(user_agent="nycDSA")
geocode = RateLimiter(locator.geocode, min_delay_seconds=1.5)

## <span style='color:red'> Caution</span>: Takes 2-3hrs ⚠️

In [20]:
geodata = [geocode(addr+', Ames, USA') if type(addr)==str else None for addr in data.Prop_Addr]

####

####

#### match collected geodata with PID and save as csv

In [84]:
g = {'lat_long':[each[-1] if each is not None else 0 for each in geodata]}

(2624, 84)

In [85]:
len(geodata) == data.shape[0]

True

In [104]:
to_export = pd.concat([pd.Series(data.index),pd.DataFrame(g)],axis=1,ignore_index=True)

In [107]:
to_export = to_export.rename(columns={0:'PID',1:'lat_long'}).set_index('PID')

In [108]:
to_export.to_csv('geodata.csv')